<form name="myForm">
    <div class="login-container">
      <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-12" style="background-color: #BFECD3; margin-top: 10%; padding: 10px; border-radius: 10px 10px 10px 10px;">
            <div class="page-header text-center"><h1><b>ลืมรหัสผ่าน</b></h1></div>
            <div class="col-lg-12 col-sm-12 col-xs-12">
              <div class="form-group">
                <input type="email" name="username" ng-model="user.Username" required class="form-control" placeholder="Username" style="font-size: 1.2em;">
                <div ng-show="myForm.username.$error.required &amp;&amp; myForm.username.$touched" class="error">Required!</div>
              </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-xs-12">
              <div class="form-group">
                <button ng-click="forgotPassword()" ng-disabled="myForm.$invalid" class="btn btn-success btn-block" style="font-size: 1.2em;">ขอรหัสผ่านใหม่</button>
                <br>
                <!--<div class="clearfix"><a href="#/forgotpassword"><span class="glyphicon glyphicon-repeat"></span> Reset Password</a></div>-->
              </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-xs-12">
              <div ng-show="showError" class="alert alert-danger">การร้องขอรหัสผ่านใหม่ล้มเหลว, กรุณาตรวจสอบ e-mail ที่กรอก</div>
              <div ng-show="showSuccess" class="alert alert-success">การร้องขอรหัสผ่านใหม่สำเร็จ! กรุณาตรวจสอบที่ e-mail inbox ของท่าน</div>
            </div>
          </div>
          <div class="row">
            
          </div>
      </div>
    </div>
</form>