<div class="page-header">
  <h3><strong>ACFS Web Management</strong></h3>
</div>
<nav class="navbar navbar-inverse" role="navigation" ng-show="DEFAULT_LANGUAGE == 'TH'">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">

        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
      </div>
    
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
      
        <ul class="nav navbar-nav">
          <li ng-class="{'active':menu_selected == 'home'}"><a href="#/"  style="border-left: 0px solid #000000;">
            หน้าหลัก</a></li>
            <li class="menu-item dropdown" ng-class="{'active':menu_selected == ''}">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">จัดการ <b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li class="menu-item"><a href="#/menu-manage">เมนู</a></li>
                  <li class="menu-item"><a href="#/link-url/manage">ลิ้งค์ที่เกี่ยวข้อง</a></li>
                  <li class="menu-item"><a href="#/user-account">ผู้ใช้งาน</a></li>
                  <li class="menu-item"><a href="#/user/permission">สิทธิ์การใช้งาน</a></li>
                  <li class="menu-item"><a href="#/landing-page">Landing Page</a></li>
              </ul>
          </li>
          
          <li ng-repeat="menu in Menu" ng-class="{'active':menu_selected == menu.menu_url, 'menu-item dropdown':menu.sub_menu.length > 0}" class="dropdown">
            
            <a ng-show="menu.sub_menu.length == 0 && menu.checked_menu == 'Y'" 
              href="#/{{ menu.menu_url }}">
            {{DEFAULT_LANGUAGE=='TH'?menu.menu_name_th:menu.menu_name_en}}
            </a>

            <a tabindex="-1" ng-show="menu.sub_menu.length > 0 && menu.checked_menu == 'Y'"
            href="" 
            class="dropdown-toggle" 
            data-toggle="dropdown" 
            role="button" 
            aria-haspopup="true" 
            aria-expanded="false" >
              {{DEFAULT_LANGUAGE=='TH'?menu.menu_name_th:menu.menu_name_en}} <b class="caret"></b>
            </a>
            <ul class="dropdown-menu"><!-- style="min-width: 400px; overflow: scroll; height: 500px;"-->
                <li ng-repeat="sub_menu1 in menu.sub_menu"
                 ng-class="{'dropdown-submenu':sub_menu1.sub_menu.length > 0}">
                  <a ng-show="sub_menu1.menu_type == 'EXLINK' && sub_menu1.checked_menu == 'Y'" href="{{ sub_menu1.menu_url }}" target="_blank">
                    {{DEFAULT_LANGUAGE=='TH'?sub_menu1.menu_name_th:sub_menu1.menu_name_en}}
                  </a>
                  <a href="#/{{sub_menu1.menu_url}}" ng-show="sub_menu1.sub_menu.length == 0 && sub_menu1.menu_type != 'EXLINK' && sub_menu1.checked_menu == 'Y'">{{DEFAULT_LANGUAGE=='TH'?sub_menu1.menu_name_th:sub_menu1.menu_name_en}}
                  </a>
                  <a href="" tabindex="-1" class="test" ng-show="sub_menu1.sub_menu.length > 0 && sub_menu1.menu_type != 'EXLINK' && sub_menu1.checked_menu == 'Y'">
                    {{DEFAULT_LANGUAGE=='TH'?sub_menu1.menu_name_th:sub_menu1.menu_name_en}}
                  </a>
                  <ul class="dropdown-menu">
                    <li ng-repeat="sub_menu2 in sub_menu1.sub_menu" 
                    ng-class="{'dropdown-submenu':sub_menu2.sub_menu.length > 0}">
                      <a ng-show="sub_menu2.menu_type == 'EXLINK' && sub_menu2.checked_menu == 'Y'" href="{{ sub_menu2.menu_url }}" target="_blank">
                        {{DEFAULT_LANGUAGE=='TH'?sub_menu2.menu_name_th:sub_menu2.menu_name_en}}
                      </a>
                      <a href="#/{{sub_menu2.menu_url}}" ng-show="sub_menu2.menu_type != 'EXLINK' && sub_menu2.sub_menu.length == 0 && sub_menu2.checked_menu == 'Y'">{{DEFAULT_LANGUAGE=='TH'?sub_menu2.menu_name_th:sub_menu2.menu_name_en}}
                      </a>
                      <a href="" tabindex="-1" class="test" ng-show="sub_menu2.menu_type == 'PARENT' && sub_menu2.sub_menu.length > 0 && sub_menu2.checked_menu == 'Y'">{{DEFAULT_LANGUAGE=='TH'?sub_menu2.menu_name_th:sub_menu2.menu_name_en}}
                      </a>
                      <ul class="dropdown-menu" style="margin-right: 300px;">
                        <li ng-repeat="sub_menu3 in sub_menu2.sub_menu">
                          <a ng-show="sub_menu3.menu_type != 'EXLINK' && sub_menu3.checked_menu == 'Y'" href="#/{{ sub_menu3.menu_url }}">
                            {{DEFAULT_LANGUAGE=='TH'?sub_menu3.menu_name_th:sub_menu3.menu_name_en}}
                          </a>
                          <a ng-show="sub_menu3.menu_type == 'EXLINK' && sub_menu3.checked_menu == 'Y'" href="{{ sub_menu3.menu_url }}" target="_blank">
                            {{DEFAULT_LANGUAGE=='TH'?sub_menu3.menu_name_th:sub_menu3.menu_name_en}}
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>

            </ul>

          </li>
          <!--
          <li ng-class="{'active':menu_selected == 'home'}"><a href="#/"  style="border-left: 0px solid #000000;">หน้าหลัก</a></li>
          <li ng-class="{'active':menu_selected == 'menu'}"><a href="#/menu-manage">จัดการเมนู</a></li>
          <li ng-class="{'active':menu_selected == 'services'}"><a href="#/services">งานบริการ</a></li>
          <li ng-class="{'active':menu_selected == 'news'}"><a href="#/update/news">ข่าวประชาสัมพันธ์</a></li>
          <li ng-class="{'active':menu_selected == 'relatelink'}"><a href="#/link-url/manage">ลิ้งค์ที่เกี่ยวข้อง</a></li>
          
          <li class="menu-item dropdown" ng-class="{'active':menu_selected == 'palace'}">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">เกี่ยวกับหน่วยงาน <b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li class="menu-item dropdown dropdown-submenu"><a href="#/palace/current-board">ผู้บริหารปัจจุบัน</a></li>
                  <li class="menu-item dropdown dropdown-submenu"><a href="#/palace/current-cio">CIO</a></li>
                  <li class="menu-item dropdown dropdown-submenu"><a href="#/palace/current-consult">ที่ปรึกษา มกอช.</a></li>
                  <li class="menu-item dropdown dropdown-submenu"><a href="#/palace/current-specialist">ผู้เชี่ยวชาญ มกอช.</a></li>
                  <li class="menu-item dropdown dropdown-submenu"><a href="#/palace/history-secretary">ทำเนียบเลขาธิการ มกอช.</a></li>
                  <li class="menu-item dropdown dropdown-submenu"><a href="#/palace/history-deputy-secretary">ทำเนียบรองเลขาธิการ มกอช.</a></li>
                  <li class="menu-item dropdown dropdown-submenu"><a href="#/palace/history-cio">ทำเนียบ CIO</a></li>
                  <li class="menu-item dropdown dropdown-submenu"><a href="#/palace/history-consult">ทำเนียบที่ปรึกษา มกอช.</a></li>
                  <li class="menu-item dropdown dropdown-submenu"><a href="#/palace/history-specialist">ทำเนียบผู้เชี่ยวชาญ มกอช.</a></li>
                  <li class="menu-item dropdown dropdown-submenu"><a href="#/budget-disbursement">ผลการเบิกจ่ายงบประมาณ</a></li>
              </ul>
          </li>
          <li ng-class="{'active':menu_selected == 'video'}"><a href="#/video">วีดีโอ</a></li>
          <li ng-class="{'active':menu_selected == 'question'}"><a href="#/question">คำถามที่พบบ่อย</a></li>
          <!--<li class="menu-item dropdown" ng-class="{'active':menu_selected == ''}">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">เกี่ยวกับหน่วยงาน <b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li class="menu-item dropdown dropdown-submenu"><a href="#/update/pages/history">ประวัติความเป็นมา</a></li>
                  <li class="menu-item dropdown dropdown-submenu"><a href="#/update/pages/authority">อำนาจหน้าที่</a></li>
                  <li class="menu-item dropdown dropdown-submenu"><a href="#/update/links/structure">โครงสร้างหน่วยงาน</a></li>
                  <li class="menu-item dropdown dropdown-submenu"><a href="#/palace/manage">บุคลากร</a></li>
                  
                  
              </ul>
          </li>
          <li ng-class="{'active':menu_selected == 'law'}"><a href="#/update/laws">กฎหมาย/ระเบียบที่เกี่ยวข้อง</a></li>
          <li ng-class="{'active':menu_selected == 'news'}"><a href="#/update/news">ข่าวประชาสัมพันธ์</a></li>
          <li ng-class="{'active':menu_selected == 'tradition'}"><a href="#/update/pages/tradition">ขั้นตอนปฏิบัติเกี่ยวกับการเสนอต่อ ครม.</a></li>
          <li ng-class="{'active':menu_selected == 'resolution'}"><a href="#/update/links/resolution">มติ ครม. ที่เกี่ยวข้อง</a></li>
          <li ng-class="{'active':menu_selected == 'relatelink'}"><a href="#/link-url/manage">ลิ้งค์ที่เกี่ยวข้อง</a></li>
          
          <!--<li><a href="#">แก้ไขข้อมูลส่วนตัว</a></li>-->
          <!--<li dropdown>
            <a href="#" dropdown-toggle>Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>-->
          <li><a ng-click="logout()"  style="border-left: 0px solid #000000;">
            ออกจากระบบ</a></li>
        </ul>
        
        <!--<form class="navbar-form navbar-right" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>-->
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

<style type="text/css" media="screen">
    .navbar-nav>li>.dropdown-menu-bottom-page{
  margin-top: -250px;
}


    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }

.marginBottom-0 {margin-bottom:0;}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:30px;left:10%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#555;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}


</style>