<div ng-include src="'views/header.html'"></div>
<div class="row form-group" style="padding-top: 10px;">
        <div class="col-lg-5">
          <div class="row">
            <div class="col-lg-10" style="padding: 5px; font-weight: bolder; font-size: 1.3em;">
              <img src="../files/img/pin-menu.png">
              {{ (ID == null?'เพิ่ม':'แก้ไข') }}ผู้มีส่วนได้ส่วนเสีย

              <span ng-show="MenuName.sub_menu != null">
                  <img src="../files/img/pin-menu.png">
                        {{MenuName.sub_menu.menu_name_th}}              
              </span>
            </div>
          </div>
        </div>
        <div class="col-lg-6">

        </div>
</div>
<hr>
 <div class="row form-group">
      <label class="col-lg-2 col-sm-12 col-xs-12 form-control-static">ชื่อ (ภาษาไทย)</label>
      <div class="col-lg-4 col-sm-12 col-xs-12">
      	<input type="text" class="form-control" ng-model="Stakeholders.nameThai">
      </div>
      <label class="col-lg-2 col-sm-12 col-xs-12 form-control-static">ชื่อ (ภาษาอังกฤษ)</label>
      <div class="col-lg-4 col-sm-12 col-xs-12">
      	<input type="text" class="form-control"  ng-model="Stakeholders.nameEng">
      </div>
 </div>
 <div class="row form-group">
      <label class="col-lg-2 col-sm-12 col-xs-12 form-control-static">สกุล (ภาษาไทย)</label>
      <div class="col-lg-4 col-sm-12 col-xs-12">
      	<input type="text" class="form-control" ng-model="Stakeholders.lastNameThai">
      </div>
      <label class="col-lg-2 col-sm-12 col-xs-12 form-control-static">สกุล (ภาษาอังกฤษ)</label>
      <div class="col-lg-4 col-sm-12 col-xs-12">
      	<input type="text" class="form-control" ng-model="Stakeholders.lastNameEng">
      </div>
 </div>
 <div class="row form-group">
      <label class="col-lg-2 col-sm-12 col-xs-12 form-control-static">ตำแหน่ง (ภาษาไทย)</label>
      <div class="col-lg-4 col-sm-12 col-xs-12">
      	<input type="text" class="form-control" ng-model="Stakeholders.positionThai">
      </div>
      <label class="col-lg-2 col-sm-12 col-xs-12 form-control-static">ตำแหน่ง (ภาษาอังกฤษ)</label>
      <div class="col-lg-4 col-sm-12 col-xs-12">
      	<input type="text" class="form-control" ng-model="Stakeholders.positionEng">
      </div>
 </div> 
 <div class="row form-group">
      <label class="col-lg-2 col-sm-12 col-xs-12 form-control-static">หน้าที่รับผิดชอบ</label>
      <div class="col-lg-4 col-sm-12 col-xs-12">
      	<input type="text" class="form-control" ng-model="Stakeholders.responsible">
      </div>
 </div> 
 <div class="row form-group">
      <label class="col-lg-2 col-sm-12 col-xs-12 form-control-static">สาขา</label>
      <div class="col-lg-4 col-sm-10 col-xs-10">
        <select class="form-control" ng-model="Stakeholders.branch" ng-options="item.branchNameThai as item.branchNameThai for item in BranchList">
          <option value="">กรุณาเลือก..</option>
        </select>
      </div>
      <div class="col-lg-2 col-sm-2 col-xs-2" >
        <button class="btn btn-success btn-sm" ng-click="addBranch()">เพิ่มสาขา</button>
      </div>
 </div> 
 <div class="row form-group">
      <label class="col-lg-2 col-sm-12 col-xs-12 form-control-static">คุณวุฒิ /ประสบการณ์</label>
      <div class="col-lg-4 col-sm-12 col-xs-12">
      	<input type="text" class="form-control" ng-model="Stakeholders.experience">
      </div>
 </div> 
 <div class="row form-group">
      <label class="col-lg-2 col-sm-12 col-xs-12 form-control-static">หน่วยงาน</label>
      <div class="col-lg-4 col-sm-12 col-xs-12">
      	<input type="text" class="form-control" ng-model="Stakeholders.institution">
      </div>
 </div> 
 <div class="row form-group">
      <label class="col-lg-2 col-sm-12 col-xs-12 form-control-static">สถานที่ติดต่อ</label>
      <div class="col-lg-6 col-sm-12 col-xs-12">
      	<textarea class="form-control" rows="4" ng-model="Stakeholders.address"></textarea>
      </div>
 </div> 
 <div class="row form-group">
      <label class="col-lg-2 col-sm-12 col-xs-12 form-control-static">โทรศัพท์</label>
      <div class="col-lg-4 col-sm-12 col-xs-12">
      	<input type="text" class="form-control" ng-model="Stakeholders.phone">
      </div>
 </div> 
 <div class="row form-group">
      <label class="col-lg-2 col-sm-12 col-xs-12 form-control-static">โทรสาร</label>
      <div class="col-lg-4 col-sm-12 col-xs-12">
      	<input type="text" class="form-control" ng-model="Stakeholders.fax">
      </div>
 </div> 
 <div class="row form-group">
      <label class="col-lg-2 col-sm-12 col-xs-12 form-control-static">e-mail</label>
      <div class="col-lg-4 col-sm-12 col-xs-12">
      	<input type="email" class="form-control" ng-model="Stakeholders.email">
      </div>
 </div>
 <div class="row form-group">
    <label class="col-lg-2 form-control-static">
        สถานะการใช้งาน
    </label>
    <div class="col-lg-10">
        <div class="btn-group">
            <label class="btn btn-default btn-checkbox" ng-model="Stakeholders.status" uib-btn-radio="'Active'">ใช้งาน</label>
            <label class="btn btn-default btn-checkbox" ng-model="Stakeholders.status" uib-btn-radio="'Inactive'">ไม่ใช้งาน</label>
        </div>
    </div>
</div>
 <div class="row form-group">
      <div class="col-lg-12 text-center">
            <button class="btn btn-primary" ng-click="saveStakeholder(Stakeholders)">บันทึก</button>
            <button class="btn btn-default" ng-click="cancelUpdate()">ยกเลิก</button>
      </div>
</div>
<script type="text/ng-template" id="update_branch.html">
    <div class="modal-header">
        <div class="row">
            
            <div class="col-lg-12 text-center">
                <h3>จัดการสาขา</h3>
            </div>
        </div>
    </div>
    <div class="modal-body">
      <div class="row form-group">
        <div class="col-lg-4">
          <input class="form-control" ng-model="Branch.branchNameThai" placeholder="เพิ่มสาขา">
        </div>        
        <div class="col-lg-2">
          <button class="btn btn-primary btn-sm" ng-click="saveBranch(Branch)"><span></span> เพื่ม</button>
        </div>        
      </div>      
      <div class="row form-group">
        <div class="col-lg-12">
          <table class="table table-striped">
            <thead>
              <th>ชื่อสาขา</th>
              <th>จัดการ</th>
            </thead>
            <tbody>
              <tr ng-repeat="data in BranchList">
                <td><input class="form-control" ng-model="data.branchNameThai"></td>
                <td>
                  <button class="btn btn-primary btn-sm" ng-click="saveBranch(data)"><span></span> บันทึก</button>
                  <button class="btn btn-danger btn-sm" ng-click="removeBranch(data.branchID, $index)"><span></span> ลบ</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>        
       </div>
    </div>
   <div class="modal-footer">
      <button class="btn btn-default" ng-click="cancel()">Close</button>
  </div>
</script>