<div ng-include src="'views/header.html'"></div>
<div class="row form-group" style="padding-top: 10px;">
        <div class="col-lg-5">
          <div class="row">
            <div class="col-lg-10" style="padding: 5px; font-weight: bolder; font-size: 1.3em;">
              <img src="../files/img/pin-menu.png">
              {{ (ID == null?'เพิ่ม':'แก้ไข') }}คณะอนุกรรมการ

              <span ng-show="MenuName.sub_menu != null">
                  <img src="../files/img/pin-menu.png">
                        {{MenuName.sub_menu.menu_name_th}}              
              </span>
            </div>
          </div>
        </div>
        <div class="col-lg-6">

        </div>
</div>
<hr>
 <div class="row form-group">
      <label class="col-lg-2 col-sm-12 col-xs-12 form-control-static">ชื่อกลุ่มคณะกรรมการ</label>
      <div class="col-lg-4 col-sm-12 col-xs-12">
      	<input type="text" class="form-control" ng-model="Subcommittee.subcommitteeName">
      </div>
 </div>
 <fieldset>
   <legend>รายชื่อผู้มีส่วนได้ส่วนเสีย</legend>
   <div class="row form-group">
      <label class="col-lg-2 col-sm-12 col-xs-12 form-control-static">
        ชื่อ - สกุล
      </label>
      <div class="col-lg-4 col-sm-12 col-xs-12">
        <input type="text" class="form-control" ng-model="keyword" uib-typeahead="(user.nameThai + ' ' + user.lastNameThai + ' (' +user.positionThai + ')') for user in searchStakeholderAutoComplete($viewValue, 'STAKEHOLDERNAMETHAI') | limitTo:20" typeahead-on-select="autocompleteStakeholderSelected($item, $model, $label); keyword = '';">
      </div>
    </div>
    <div class="row form-group" ng-repeat="data in Subcommittee.subcommittee_person">
      <label class="col-lg-3 col-sm-10 col-xs-10 form-control-static  col-lg-offset-2">
          {{data.nameThai}} {{data.lastNameThai}}
      </label>
      <div class="col-lg-2 col-sm-2 col-xs-2">
        <button class="btn btn-danger btn-sm" ng-click="removeSubcommitteePerson(data.subcommitteePersonID, $index)">ลบ</button>
      </div>
    </div>
 </fieldset>
 <div class="row form-group">
      <div class="col-lg-12 text-center">
            <button class="btn btn-primary" ng-click="saveSubcommittee(Subcommittee)">บันทึก</button>
            <button class="btn btn-default" ng-click="cancelUpdate()">ยกเลิก</button>
            <div uib-alert ng-class="'alert-success'" uib-alert class='repeat-item' ng-repeat="alert in alerts" type="alert.type"  dismiss-on-timeout="3000" close="alerts.splice($index, 1);" style="text-align: center; font-size:1.2em;">{{alert.msg}}
            </div>
            <br><br><br><br>
      </div>
</div>