<div ng-include src="'views/header.html'"></div>
<div class="row form-group" style="padding-top: 10px;">
	  <div class="col-lg-5">
	    <div class="row">
	      <div class="col-lg-10" style="padding: 5px; font-weight: bolder; font-size: 1.3em;">
	        <img src="../files/img/pin-menu.png">
	        มาตรฐานสินค้าเกษตร

	        <span ng-show="MenuName.sub_menu != null">
	        	<img src="../files/img/pin-menu.png">
				{{MenuName.sub_menu.menu_name_th}}	        	
	        </span>
	      </div>
	    </div>
	  </div>
	  <div class="col-lg-6">

	  </div>
</div>
<hr>
<div class="row form-group">
	<div class="col col-lg-12">
		<button class="btn btn-primary pull-right" ng-click="goUpdate('')">กำหนดมาตรฐานใหม่</button>
	</div>
</div>
<div class="row form-group">
	<div class="col col-lg-12">
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>สินค้า</th>
						<th>เลขที่</th>
						<th>เล่มที่</th>
						<th>วันที่</th>
						<th>คณะกรรมการ</th>
						<th>สถานะ</th>
						<th>จัดการ</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="data in dataset">
						<td>{{data.standardNameThai}}</td>
						<td>{{data.noThai}}</td>
						<td>{{data.bookNumberThai}}</td>
						<td>{{data.createDate}}</td>
						<td></td>
						<td></td>
						<td>
							<button class="btn btn-default btn-sm" ng-click="goUpdate(data.standardID)"><span class="glyphicon glyphicon-edit"></span></button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
