<div ng-include src="'views/header.html'"></div>

<div style="margin-top:180px;">
	<div class="row form-group" style="padding-top: 70px;">
	  <div class="col-lg-10 col-lg-offset-1">
	    <div class="row">
	      <div class="col-lg-10" style="padding: 5px; font-weight: bolder; font-size: 1.3em;">
	        <span ng-repeat="data in MenuName">
		        <img src="../files/img/pin-menu.png">
		        {{data.menu_name_th}}
		    </span>
	      </div>
	    </div>
	  </div>
	  <div class="col-lg-6">

	  </div>
	</div>
<div class="row form-group">
		<div class="col-lg-10 col-lg-offset-1 text-center" >
			<span class="title-content">
				<h2>{{(DEFAULT_LANGUAGE == 'TH'?MenuName[MenuName.length - 1].menu_name_th:MenuName[MenuName.length - 1].menu_name_en)}}</h2>
			</span>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-lg-10 col-lg-offset-1 text-center" >
			<img src="../files/img/header_line.png" style="width: 70%;">
		</div>
	</div>
		<div class="row form-group">
			<div class="col col-lg-10 col-lg-offset-1">
				<div class="row form-group">
					<label class="form-control-static col-lg-1">
						ค้นหา
					</label> 
					<div class="col-lg-3">
						<input class="form-control" ng-model="keyword">
					</div>
					<label class="form-control-static col-lg-1">
						แสดงข้อมูล
					</label> 
					<div class="col-lg-3">
						<select class="form-control" ng-model="standardType">
							<option value="">ทั้งหมด</option>
							<option value="มาตรฐานสินค้า">มาตรฐานสินค้า</option>
							<option value="มาตรฐานระบบ">มาตรฐานระบบ</option>
							<option value="มาตรฐานข้อกำหนดทั่วไป">มาตรฐานข้อกำหนดทั่วไป</option>
						</select>
					</div>
					<div class="col-lg-2">
						<button class="btn btn-primary" ng-click="search(keyword, standardType)"> <span class="glyphicon glyphicon-search"></span> ค้นหา</button>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>มาตรฐานสินค้า</th>
								<th>ประเภทมาตรฐาน</th>
								<th>เลขที่</th>
								<th>เล่มที่</th>
								<th>วันที่ในราชกิจจานุเบกษา</th>
								<th>ดาวน์โหลด</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="data in dataset">
								<td><span uib-popover-html="data.cancelled_data" popover-trigger="'mouseenter'">{{DEFAULT_LANGUAGE == 'TH'?data.standardNameThai:data.standardNameEng}}</span></td>
								<td>{{data.standardType}}</td>
								<td>{{DEFAULT_LANGUAGE == 'TH'?data.noThai:data.noEng}}</td>
								<td>{{DEFAULT_LANGUAGE == 'TH'?data.bookNumberThai:data.bookNumberEng}}</td>
								<td>{{makeDateString(data.echoDate)}}</td>
								<td><a href="../{{data.standardFilePath}}" role="button" class="btn btn-default" download="{{data.standardFileName}}" ng-show="data.standardFileName != null && data.standardFileName != '' && DEFAULT_LANGUAGE == 'TH'"><img src="../files/img/attach-file.png" style="height: 2em;"></a>
									<a href="../{{data.standardFilePathEN}}" role="button" class="btn btn-default" download="{{data.standardFileNameEN}}" ng-show="data.standardFileNameEN != null && data.standardFileNameEN != ''"><img src="../files/img/attach-file.png" style="height: 2em;"></a></td>
							</tr>
						</tbody>
					</table>
					<ul class="pull-right" uib-pagination total-items="totalPages" ng-model="currentPage" max-size="limitDisplay" class="pagination-sm" items-per-page="limitRowPerPage" boundary-links="true" force-ellipses="true"  ng-change="pageChanged()"></ul>
				</div>
			</div>
		</div>
	<div ng-include src="'views/footer.html'"></div>
</div>