<div ng-include src="'views/header.html'"></div>

<div style="margin-top:180px;">
	<div class="row form-group" style="padding-top: 70px;">
	  <div class="col-lg-10 col-lg-offset-1">
	    <div class="row">
	      <div class="col-lg-10" style="padding: 5px; font-weight: bolder; font-size: 1.3em;">
	        <span ng-repeat="data in MenuName">
		        <img src="../files/img/pin-menu.png">
		        {{data.menu_name_th}}
		    </span>
	      </div>
	    </div>
	  </div>
	  <div class="col-lg-6">

	  </div>
	</div>
<div class="row form-group">
		<div class="col-lg-10 col-lg-offset-1 text-center" >
			<span class="title-content">
				<h2>{{(DEFAULT_LANGUAGE == 'TH'?MenuName[MenuName.length - 1].menu_name_th:MenuName[MenuName.length - 1].menu_name_en)}}</h2>
			</span>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-lg-10 col-lg-offset-1 text-center" >
			<img src="../files/img/header_line.png" style="width: 70%;">
		</div>
	</div>
		<div class="row form-group">
			<div class="col col-lg-10 col-lg-offset-1">
				<div class="row form-group">
					<label class="form-control-static col-lg-1">
						ค้นหา
					</label> 
					<div class="col-lg-3">
						<input class="form-control" ng-model="keyword">
					</div>
					<div class="col-lg-3">
						<select class="form-control" ng-model="standardType">
							<option value="">ประเภทมาตรฐาน</option>
							<option value="มาตรฐานสินค้า">มาตรฐานสินค้า</option>
							<option value="มาตรฐานระบบ">มาตรฐานระบบ</option>
							<option value="มาตรฐานข้อกำหนดทั่วไป">มาตรฐานข้อกำหนดทั่วไป</option>
						</select>
					</div>
					<div class="col-lg-3">
						<select class="form-control" ng-model="standardDefineType">
							<option value="">ประเภทการกำหนดมาตรฐานตามกฎหมาย</option>
							<option value="ทั่วไป">ทั่วไป</option>
							<option value="บังคับ">บังคับ</option>
						</select>
					</div>
					
				</div>
				<div class="row form-group">
					<div class="col-lg-3 col-lg-offset-1">
						<select class="form-control" ng-model="standardGroup">
							<option value="">กลุ่มมาตรฐาน</option>
							<option value="พืช">พืช</option>
							<option value="ปศุสัตว์">ปศุสัตว์</option>
							<option value="ประมง">ประมง</option>
							<option value="อื่นๆ">อื่นๆ</option>
						</select>
					</div>
					<div class="col-lg-2">
						<button class="btn btn-primary" ng-click="search(keyword, standardType, standardDefineType, standardGroup)"> <span class="glyphicon glyphicon-search"></span> ค้นหา</button>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>     
								<th>ชื่อมาตรฐาน</th>
								<th class="text-center">ประเภทมาตรฐานตามกฏหมาย</th>
								<th class="text-center">ประเภทมาตรฐาน</th>
								<th class="text-center">กลุ่มมาตรฐาน</th>
								<th class="text-center">เลขที่</th>
								<th class="text-center">วันที่มีผลบังคับใช้</th>
								<th class="text-center">เอกสารดาวน์โหลด</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="data in dataset">
								<td>{{(data.standardNameThai == null || data.standardNameThai == ''?'-':data.standardNameThai)}}</td>
								<td class="text-center">{{(data.standardDefineType == null || data.standardDefineType == ''?'-':data.standardDefineType)}}</td>
								<td class="text-center">{{data.standardType}}</td>
								<td class="text-center">{{(data.standardGroup == null || data.standardGroup == ''?'-':data.standardGroup)}}</td>
								<td class="text-center">{{(data.noThai == null || data.noThai == ''?'-':data.noThai)}}</td>
								<td class="text-center">{{makeDateString(data.echoDate)}}</td><!--{{(data.useDate == null || data.useDate == '' || data.useDate == '0000-00-00 00:00:00'?'-':makeDateString(data.useDate))}}-->
								<td class="text-center">
									<a href="../{{data.standardFilePath}}" role="button" class="btn btn-default" download="{{data.standardFileName}}" ng-show="data.standardFileName != null && data.standardFileName != '' && DEFAULT_LANGUAGE == 'TH'"><img src="../files/img/attach-file.png" style="height: 2em;"></a>
									<a href="../{{data.standardFilePathEN}}" role="button" class="btn btn-default" download="{{data.standardFileNameEN}}" ng-show="data.standardFileNameEN != null && data.standardFileNameEN != ''"><img src="../files/img/attach-file.png" style="height: 2em;"></a>
								</td>
							</tr>
						</tbody>
					</table>
					<ul class="pull-right" uib-pagination total-items="totalPages" ng-model="currentPage" max-size="limitDisplay" class="pagination-sm" items-per-page="limitRowPerPage" boundary-links="true" force-ellipses="true"  ng-change="pageChanged()"></ul>
				</div>
			</div>
		</div>
	<div ng-include src="'views/footer.html'"></div>
</div>