<div ng-include src="'views/header.html'"></div>

<div  style="margin-top:150px;">
	<div class="row form-group" style="padding-top: 70px;">
	  <div class="col-lg-5 col-lg-offset-1">
	    <div class="row">
	      <div class="col-lg-2 text-center">
	        <img src="../cio-files/img/pin-menu.png">
	      </div>
	      <div class="col-lg-10" style="padding: 5px; font-weight: bolder; font-size: 1.3em;">
	        {{$parent.menu_selected_th}}
	      </div>
	    </div>
	  </div>
	  <div class="col-lg-6">

	  </div>
	</div>
	<div class="row form-group">
		<div class="col-lg-10 col-lg-offset-1">
			<div class="slideshow-container">

			  <!-- Full-width images with number and caption text -->
			  <div class="mySlides fade" ng-repeat="slide in slides">
			    <img src="{{slide.path}}" style="height:300px; width: auto;">
			    <div class="text">{{slide.caption}}</div>
			  </div>

			 
			  <!-- Next and previous buttons -->
			  <!--<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
			  <a class="next" onclick="plusSlides(1)">&#10095;</a>-->
			</div>
			<br>

			<!-- The dots/circles -->
			<div style="text-align:center">
			  <span class="dot" onclick="currentSlide(1)"></span> 
			  <span class="dot" onclick="currentSlide(2)"></span> 
			</div>
		</div>
	</div>

	<div class="row form-group" style="margin-top: 60px; color: #071CA5; font-weight: bolder; font-size: 1.2em;">
		<div class="col-lg-12 text-center">
			ผู้บริหาร
			<br>
			<div style="background: url('../cio-files/img/line-bottom.png') no-repeat; height: 3px; width:480px; margin:0px auto; margin-top:7px;"></div>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-lg-5 col-lg-offset-1 text-center" style="border-right: 1px dotted #999;">
			<img src="{{ '../' + Minister.picture_path}}" style="height:480px; width: auto;">
			<br><br>
			{{ Misnister.prefix_name_th + Minister.firstname_th + ' ' + Minister.lastname_th }}
			<br>
			{{ Misnister.prefix_name_en + Minister.firstname_en + ' ' + Minister.lastname_en }}
			<br>
			{{Minister.position_th}}
			<br>
			({{Minister.position_en}})
		</div>
		<div class="col-lg-5">
			<div class="row form-group" style="padding-top: 10px;">
				<div class="col-lg-4 text-center">
					<img src="{{ '../' + ViceMinister.picture_path}}" style="height:110px; width: auto;">
				</div>
				<div class="col-lg-8">
					{{ ViceMinister.prefix_name_th + ViceMinister.firstname_th + ' ' + ViceMinister.lastname_th }}
					<br>
					{{ ViceMinister.prefix_name_en + ViceMinister.firstname_en + ' ' + ViceMinister.lastname_en }}
					<br><br>
					{{ViceMinister.position_th}}
					<br>
					({{ViceMinister.position_en}})
				</div>
			</div>
			<div class="row form-group" style="padding-top: 20px;">
				<div class="col-lg-4 text-center">
					<img src="{{ '../' + Advisor.picture_path}}" style="height:110px; width: auto;">
				</div>
				<div class="col-lg-8">
					{{ Advisor.prefix_name_th + Advisor.firstname_th + ' ' + Advisor.lastname_th }}
					<br>
					{{ Advisor.prefix_name_en + Advisor.firstname_en + ' ' + Advisor.lastname_en }}
					<br><br>
					{{Advisor.position_th}}
					<br>
					({{Advisor.position_en}})
				</div>
			</div>
			<div class="row form-group" style="padding-top: 20px; padding-bottom: 10px;">
				<div class="col-lg-4 text-center">
					<img src="{{ '../' + Secretary.picture_path}}" style="height:110px; width: auto;">
				</div>
				<div class="col-lg-8">
					{{ Secretary.prefix_name_th + Secretary.firstname_th + ' ' + Secretary.lastname_th }}
					<br>
					{{ Secretary.prefix_name_en + Secretary.firstname_en + ' ' + Secretary.lastname_en }}
					<br><br>
					{{Secretary.position_th}}
					<br>
					({{Secretary.position_en}})
				</div>
			</div>
			<div class="row form-group" style="padding-top: 20px; border-top: 1px dotted #999; ">
				<div class="col-lg-4 text-center">
					<img src="{{ '../' + HeadOfficer.picture_path}}" style="height:110px; width: auto;">
				</div>
				<div class="col-lg-8">
					{{ HeadOfficer.prefix_name_th + HeadOfficer.firstname_th + ' ' + HeadOfficer.lastname_th }}
					<br>
					{{ HeadOfficer.prefix_name_en + HeadOfficer.firstname_en + ' ' + HeadOfficer.lastname_en }}
					<br><br>
					{{HeadOfficer.position_th}}
					<br>
					({{HeadOfficer.position_en}})
				</div>
			</div>
		</div>
	</div>
	<div ng-include src="'views/footer.html'"></div>
</div>