<div ng-include src="'views/header.html'"></div>

<div  style="margin-top:180px;">
	<div class="row form-group" style="padding-top: 70px;">
	  <div class="col-lg-10 col-lg-offset-1">
	    <div class="row">
	      <div class="col-lg-10" style="padding: 5px; font-weight: bolder; font-size: 1.3em;">
	        <span ng-repeat="data in MenuName">
		        <img src="../files/img/pin-menu.png">
		        {{data.menu_name_th}}
		    </span>
	      </div>
	    </div>
	  </div>
	  <div class="col-lg-6">

	  </div>
	</div>

	<div  ng-repeat="Palace in PalaceList">
		<div class="row form-group">
			<div class="col-lg-2 col-lg-offset-1 text-center">
				<img src="{{'../' + Palace.picture_path}}" style="width: 180px; height: 200px; border-radius: 50%;border:7px solid #8DCEFF;" ng-show="Palace.picture_path != null && AttachFile == null">
			</div>
			<div class="col-lg-9" style="padding-left: 5%;">
				<div class="row form-group" ng-show="checkHistory(palace_type)">
					<div class="col-lg-12" style="font-size: 1.5em; color: #0000ff;">
						ลำดับที่ {{ $index + 1 }}
					</div>
				</div>
				<div class="row form-group">
					<div class="col-lg-12" style="font-size: 1.5em; color: #0000ff;">
						ชื่อ - สกุล : {{Palace.firstname_th + ' ' + Palace.lastname_th}}
					</div>
				</div>
				<div class="row form-group">
					<div class="col-lg-12">
						ตำแหน่ง : {{Palace.position_th}}
					</div>
				</div>
				<div class="row form-group">
					<div class="col-lg-12">
						<span bind-html-compile="DEFAULT_LANGUAGE=='TH'?'ระยะเวลา ':'Date of holding '"></span>{{Palace.position_start_date | date:"MM/dd/yyyy"}} ถึง {{Palace.position_end_date==null || Palace.position_end_date=='0000-00-00'?'ปัจจุบัน':(Palace.position_end_date | date:"MM/dd/yyyy")}}
					</div>
				</div>
				<div ng-show="palace_type == 'current-cio' || palace_type == 'history-cio'">
					<div class="row form-group">
						<div class="col-lg-12">
							วิสัยทัศน์ : {{Palace.vision_th}}
						</div>
					</div>
					<div class="row form-group">
						<div class="col-lg-12">
							พันธกิจ : {{Palace.mission_th}}
						</div>
					</div>
					<div class="row form-group">
						<div class="col-lg-12">
							ข้อมูลการติดต่อ : {{Palace.contact_th}}
						</div>
					</div>
					<div class="row form-group">
						<div class="col-lg-12">
							บทบาทหน้าที่ : {{Palace.role_th}}
						</div>
					</div>
				</div>
			</div>	
		</div>
		<hr>
	</div>
	<div ng-include src="'views/footer.html'"></div>
</div>