<div ng-include src="'views/header.html'"></div>
<div class="row form-group" style="padding-top: 10px;">
	  <div class="col-lg-5">
	    <div class="row">
	      <div class="col-lg-10" style="padding: 5px; font-weight: bolder; font-size: 1.3em;">
	        <img src="../files/img/pin-menu.png">
	        มาตรฐานสินค้าเกษตร

	        <span ng-show="MenuName.sub_menu != null">
	        	<img src="../files/img/pin-menu.png">
				{{MenuName.sub_menu.menu_name_th}}	        	
	        </span>
	      </div>
	    </div>
	  </div>
	  <div class="col-lg-6">

	  </div>
</div>
<hr>
<div class="row form-group">
	<div class="col col-lg-12">
		<button class="btn btn-primary pull-right" ng-click="goUpdate('')">กำหนดมาตรฐานใหม่</button>
	</div>
</div>
<uib-tabset active="activeJustified" justified="true">
	<uib-tab index="0" heading="การดำเนินงานมาตรฐานสินค้าเกษตร" ng-click="changeTab(0)">
		<div class="row form-group">
			<div class="col col-lg-12">
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>ชื่อมาตรฐาน</th>
								<th>ปีงบประมาณ</th>
								<th>คณะกรรมการวิชาการ</th>
								<th>สถานะ</th>
								<th>จัดการ</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="data in dataset">
								<td>{{data.standardNameThai}}</td>
								<td>{{data.years}}</td>
								<td>
									<button class="btn btn-default btn-sm" ng-click="loadAcademicBoard(data.standardID)"><span class="glyphicon glyphicon-zoom-in"></span></button>
								</td>
								<td>{{getStatusText(data.step)}}</td>
								<td>
									<button class="btn btn-default btn-sm" ng-click="goUpdate(data.standardID, '')"><span class="glyphicon glyphicon-edit"></span></button>
								</td>
							</tr>
						</tbody>
					</table>
					<ul class="pull-right" uib-pagination total-items="totalPages" ng-model="currentPage" max-size="limitDisplay" class="pagination-sm" items-per-page="limitRowPerPage" boundary-links="true" force-ellipses="true"  ng-change="pageChanged()"></ul>
				</div>
			</div>
		</div>
	</uib-tab>

	<uib-tab index="1" heading="มาตรฐานสินค้าเกษตรที่ประกาศใช้" ng-click="changeTab(1)">
		<div class="row form-group">
			<div class="col col-lg-12">
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>ชื่อมาตรฐาน</th>
								<th>เลขที่</th>
								<th>เล่มที่</th>
								<th>วันที่ประกาศในราชกิจจานุเบกษา</th>
								<th>จัดการ</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="data in dataset">
								<td>{{data.standardNameThai}}</td>
								<td>{{data.noThai}}</td>
								<td>{{data.bookNumberThai}}</td>
								<td>{{makeDateString(data.useDate)}}</td>
								<td>
									<button class="btn btn-default btn-sm" ng-click="goUpdate(data.standardID, '')"><span class="glyphicon glyphicon-edit"></span></button>
								</td>
							</tr>
						</tbody>
					</table>
					<ul class="pull-right" uib-pagination total-items="totalPages" ng-model="currentPage" max-size="limitDisplay" class="pagination-sm" items-per-page="limitRowPerPage" boundary-links="true" force-ellipses="true"  ng-change="pageChanged()"></ul>
				</div>
			</div>
		</div>
	</uib-tab>

	<uib-tab index="2" heading="มาตรฐานสินค้าเกษตรที่ยกเลิก" ng-click="changeTab(2)">
		<div class="row form-group">
			<div class="col col-lg-12">
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>ชื่อมาตรฐาน</th>
								<th>เลขที่</th>
								<th>วันที่ยกเลิก</th>
								<th>มาตรฐานที่ใช้แทน</th>
								<th>จัดการ</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="data in dataset">
								<td>{{data.standardNameThai}}</td>
								<td>{{data.noThai}}</td>
								<td>{{makeDateString(data.cancelledDate)}}</td>
								<td bind-html-compile="data.replace_data"></td>
								<td>
									<button class="btn btn-default btn-sm" ng-click="goUpdate(data.standardID, 'disabled')"><span class="glyphicon glyphicon-edit"></span></button>
								</td>
							</tr>
						</tbody>
					</table>
					<ul class="pull-right" uib-pagination total-items="totalPages" ng-model="currentPage" max-size="limitDisplay" class="pagination-sm" items-per-page="limitRowPerPage" boundary-links="true" force-ellipses="true"  ng-change="pageChanged()"></ul>
				</div>
			</div>
		</div>
	</uib-tab>
</uib-tabset>
<script type="text/ng-template" id="show_academic_board.html">
    <div class="modal-header">
        <div class="row">
            <div class="col-lg-1">
                <h3><i class="glyphicon glyphicon-user" style="color:#3D9AE1;"></i></h3>
            </div>
            <div class="col-lg-10 text-center">
                <h3>คณะกรรมการ</h3>
            </div>
        </div>
    </div>
    <div class="modal-body">
    	<div class="table-responsive">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>ชื่อ</th>
						<th>สกุล</th>
						<th>ตำแหน่ง</th>
						<th>หน่วยงาน</th>
						<th>โทรศัพท์</th>
						<th>อีเมล์</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="Stakeholders in AcademicBoard">
						<td>{{Stakeholders.nameThai}}<br>{{ Stakeholders.nameEng}}</td>
						<td>{{Stakeholders.lastNameThai}}<br>{{Stakeholders.lastNameEng}}</td>
						<td>{{Stakeholders.positionThai}}<br>{{Stakeholders.positionEng}}</td>
						<td>{{Stakeholders.institution}}</td>
						<td>{{Stakeholders.phone}}</td>
						<td>{{Stakeholders.email}}</td>
					</tr>
				</tbody>
			</table>
		</div>
    </div>
    <div class="modal-footer">
	    <button class="btn btn-default" ng-click="cancel()">Close</button>
    </div>
</script>
