<div ng-include src="'views/header.html'"></div>

<div  style="margin-top:180px;">
	
	<div class="row form-group" style="padding-top: 70px;">
	  <div class="col-lg-10 col-lg-offset-1">
	    <div class="row">
	      <div class="col-lg-10" style="padding: 5px; font-weight: bolder; font-size: 1.3em;">
	        <span ng-repeat="data in MenuName">
		        <img src="../files/img/pin-menu.png">
		        {{data.menu_name_th}}
		    </span>
	      </div>
	    </div>
	  </div>
	  <div class="col-lg-6">

	  </div>
	</div>

	<div class="row">
		<!--
		<div class="col-lg-3">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
					<button class="btn btn-info btn-block" ng-click="changeNewsType('ข่าวเด่นรัฐมนตรีว่าการกระทรวงการท่องเที่ยวและกีฬาจากสื่อต่างๆ')"> ข่าวเด่นรัฐมนตรี</button>
					<button class="btn btn-info btn-block" ng-click="changeNewsType('ข่าวประชาสัมพันธ์รัฐมนตรีว่าการกระทรวงการท่องเที่ยวและกีฬาจากสื่อต่างๆ')"> ข่าวประชาสัมพันธ์รัฐมนตรี</button>
					<button class="btn btn-info btn-block" ng-click="changeNewsType('ข่าวประชาสัมพันธ์ปลัดกระทรวงการท่องเที่ยวและกีฬา')"> ข่าวประชาสัมพันธ์ปลัดกระทรวงฯ</button>
					<button class="btn btn-info btn-block" ng-click="changeNewsType('ข่าวประชาสัมพันธ์ของจังหวัด')"> ข่าวประชาสัมพันธ์ของจังหวัด</button>
				</div>
			</div>
		</div>
		-->
		<div class="col-lg-10 col-lg-offset-1">
			<div class="row">
				<div class="col-lg-4 col-sm-3 col-xs-12" ng-repeat="data in NewsList" style="border: 1px #ccc solid; height: 600px; word-break:break-all;">
					<div class="row" style="height: 240px;">
						<div class="col-lg-12 text-center">
							<img ng-src="{{ '../' + data.image_cover_path }}" alt="" style="max-width: 100%; height: 230px;">
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<a href="#/news/detail/{{data.id}}" style="cursor: pointer; color: #999;" bind-html-compile="data.title_th | htmlToPlaintext"></a>
							<br>
							<div style="background: url('../files/img/line-bottom.png') no-repeat; height: 3px; width:100%; margin:0px auto; margin-top:20px;margin-bottom:15px;"></div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<span bind-html-compile="data.contents | htmlToPlaintext | cut:true:200:' ...'" style="word-wrap: break-word;"></span>
						</div>
					</div>
					<div class="row" style="padding-top: 2vh;">
						<div class="col-lg-6">
							
						</div>	
						<div class="col-lg-6 ">
							<span class="pull-right" style="color: #FF5C5C;">{{data.news_type}}</span>
						</div>	
					</div>
					<hr>
					<div class="row" style="padding-bottom: 3vh;">
							
						<div class="col-lg-8 ">
							<span class="pull-right" style="color: #A5C7CE;">
							{{data.visit_count==null?0:data.visit_count}} 
							<img ng-src="{{ '../files/img/viewer.png' }}" alt="">
							&nbsp;&nbsp;
							{{getThaiDate(data.news_date)}}&nbsp;&nbsp;
							
							</span>
						</div>	
						<div class="col-lg-4">
							<a href="#/news/detail/{{data.id}}" role="button" class="btn btn-info">อ่านเพิ่มเติม</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-include src="'views/footer.html'"></div>
</div>