<div ng-include src="'views/header.html'"></div>

<div  style="margin-top:300px;">
	
	<div class="row form-group" style="margin-top: 20px; color: #071CA5; font-weight: bolder; font-size: 1.5em;">
		<div class="col-lg-12 text-center">
			{{ (DEFAULT_LANGUAGE == 'TH'?Page.title_th:Page.title_en) }}
			<br>
			<div style="background: url('../cio-files/img/line-bottom.png') no-repeat; height: 3px; width:480px; margin:0px auto; margin-top:20px;margin-bottom:15px;"></div>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-lg-10 col-lg-offset-1" bind-html-compile="(DEFAULT_LANGUAGE == 'TH'?Page.contents:Page.contents_en)">

		</div>
	</div>
	<div class="row form-group" ng-repeat="file in FileList" style="padding: 5px;">
		<div class="col-lg-10 col-lg-offset-1" ng-show="file.page_type == 'file'">
			<a ng-show="file.content_type != 'application/pdf'" target="_self" href="{{file.file_path}}" download="{{file.file_name}}">
				{{ (file.display_name !== null && file.display_name != ''?file.display_name:file.file_name) }}
			</a>
			<a ng-show="file.content_type == 'application/pdf'" target="_blank" href="../{{file.file_path}}">
				{{ (file.display_name !== null && file.display_name != ''?file.display_name:file.file_name) }}
			</a>
		</div>
		<div class="col-lg-10 col-lg-offset-1" ng-show="file.page_type == 'link'">
			<a target="_blank" href="{{file.file_path}}">
				{{ (file.display_name) }}
			</a>
		</div>
	</div>

	<div ng-include src="'views/footer.html'"></div>
</div>