<div ng-include src="'views/header.html'"></div>

<div  style="margin-top:180px;">
	<div class="row form-group" style="padding-top: 70px;">
	  <div class="col-lg-5 col-lg-offset-1">
	    <div class="row">
	      <div class="col-lg-10" style="padding: 5px; font-weight: bolder; font-size: 1.3em;">
	        <img src="../files/img/pin-menu.png">
	        {{ (DEFAULT_LANGUAGE == 'TH'?Page.title_th:Page.title_en) }}

	        <span ng-show="MenuName.sub_menu != null">
	        	<img src="../files/img/pin-menu.png">
				{{MenuName.sub_menu.menu_name_th}}	        	
	        </span>
	      </div>
	    </div>
	  </div>
	  <div class="col-lg-6">

	  </div>
	</div>
	<div class="row form-group">
		<div class="col-lg-10 col-lg-offset-1" bind-html-compile="(DEFAULT_LANGUAGE == 'TH'?Page.contents:Page.contents_en)">

		</div>
	</div>
	<div class="row form-group" ng-repeat="file in FileList" style="padding: 5px;">
		<div class="col-lg-10 col-lg-offset-1" ng-show="file.page_type == 'file'">
			<a ng-show="file.content_type != 'application/pdf'" target="_self" href="{{file.file_path}}" download="{{file.file_name}}">
				{{ (file.display_name !== null && file.display_name != ''?file.display_name:file.file_name) }}
			</a>
			<a ng-show="file.content_type == 'application/pdf'" target="_blank" href="../{{file.file_path}}">
				{{ (file.display_name !== null && file.display_name != ''?file.display_name:file.file_name) }}
			</a>
		</div>
		<div class="col-lg-10 col-lg-offset-1" ng-show="file.page_type == 'link'">
			<a target="_blank" href="{{file.file_path}}">
				{{ (file.display_name) }}
			</a>
		</div>
	</div>

	<div ng-include src="'views/footer.html'"></div>
</div>