<div id="box" class="" style="position: fixed; top: 0px; z-index: 99999; width: 100%; ">
<div style="position: absolute; right: 5%; top : 60px; z-index: 9999999;">
  <div style="width:100%; display: none; ">
    
  </div>
  
</div>
<div class="row" style="padding-top: 15px; padding-bottom: 10px; color:#3766FF;  background-color: #FFF;">
  <div class="col-lg-1 col-md-1 col-sm-8 col-xs-6" style=" padding-top:2%;">
    <img src="../files/img/logo_acfs.png" style="height: 80px; width: auto; padding-left:10%;">
  </div>
  <div class="col-lg-6 col-md-6 visible-lg visible-md" style="padding-left: 0%; padding-top:1.5%; color: #393D65;">
    <h3>สำนักงานมาตรฐานสินค้าเกษตรและอาหารแห่งชาติ</h3>
    
    <h5>National Bureau of Agricultural Commodity and Food Standards</h5>
  </div>
  <div class="col-lg-5 col-md-5 col-sm-4 col-xs-6" style=" padding-top:2%;">
    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
      <div class="input-group add-on">
        <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term" ng-model="keyword" ng-keyup="checkEnter($event, keyword)" style="height: 37px;">
        <div class="input-group-btn">
          <button class="btn btn-default" ng-click="goSearch(keyword)"><i class="glyphicon glyphicon-search"></i></button>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 text-center">
        <a ng-click="changeLanguage('TH')" ng-class="{'selected-language':DEFAULT_LANGUAGE == 'TH'}">Thai</a> / <a ng-click="changeLanguage('EN')" ng-class="{'selected-language':DEFAULT_LANGUAGE == 'EN'}">Eng</a>
        &nbsp;&nbsp;&nbsp;
        <a ng-click="changeFontSize(1)" style="font-size: 1em;" ng-class="{'selected-language':FONT_SIZE == 1}">A</a>&nbsp;&nbsp;
        <a ng-click="changeFontSize(1.2)" style="font-size: 1.2em;" ng-class="{'selected-language':FONT_SIZE == 1.2}">A</a>&nbsp;&nbsp;
        <a ng-click="changeFontSize(1.4)" style="font-size: 1.4em;" ng-class="{'selected-language':FONT_SIZE == 1.4}">A</a>
    </div>
  </div>
</div>
<div class="row" style="background-color: #FFF;">
<nav class="navbar navbar-inverse" role="navigation" style="margin-bottom: 0px;">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">

        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
      </div>
    
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
      
        <ul class="nav navbar-nav" style="background-color: #1D2355; color: #FFF; padding: 30px; font-size: 1.2em;">
          <li ng-class="{'active':menu_selected == 'home'}"><a href="#/"  style="border-left: 0px solid #000000;">
            หน้าหลัก</a></li>

          <li ng-repeat="menu in Menu" ng-class="{'active':menu_selected == menu.menu_url, 'menu-item dropdown':menu.sub_menu.length > 0}" class="dropdown">
            
            <a ng-show="menu.sub_menu.length == 0" 
              href="#/{{ menu.menu_url }}">
            {{DEFAULT_LANGUAGE=='TH'?menu.menu_name_th:menu.menu_name_en}}
            </a>

            <a tabindex="-1" ng-show="menu.sub_menu.length > 0"
            href="" 
            class="dropdown-toggle" 
            data-toggle="dropdown" 
            role="button" 
            aria-haspopup="true" 
            aria-expanded="false" >
              {{DEFAULT_LANGUAGE=='TH'?menu.menu_name_th:menu.menu_name_en}} <b class="caret"></b>
            </a>
            <ul class="dropdown-menu"><!-- style="min-width: 400px; overflow: scroll; height: 500px;"-->
                <li ng-repeat="sub_menu1 in menu.sub_menu"
                 ng-class="{'dropdown-submenu':sub_menu1.sub_menu.length > 0}">
                  <a ng-show="sub_menu1.menu_type == 'EXLINK'" href="{{ sub_menu1.menu_url }}" target="_blank">
                    {{DEFAULT_LANGUAGE=='TH'?sub_menu1.menu_name_th:sub_menu1.menu_name_en}}
                  </a>
                  <a href="#/{{sub_menu1.menu_url}}" ng-show="sub_menu1.sub_menu.length == 0 && sub_menu1.menu_type != 'EXLINK'">{{DEFAULT_LANGUAGE=='TH'?sub_menu1.menu_name_th:sub_menu1.menu_name_en}}
                  </a>
                  <a href="" tabindex="-1" class="test" ng-show="sub_menu1.sub_menu.length > 0 && sub_menu1.menu_type != 'EXLINK'">
                    {{DEFAULT_LANGUAGE=='TH'?sub_menu1.menu_name_th:sub_menu1.menu_name_en}}
                  </a>
                  <ul class="dropdown-menu">
                    <li ng-repeat="sub_menu2 in sub_menu1.sub_menu" 
                    ng-class="{'dropdown-submenu':sub_menu2.sub_menu.length > 0}">
                      <a ng-show="sub_menu2.menu_type == 'EXLINK'" href="{{ sub_menu2.menu_url }}" target="_blank">
                        {{DEFAULT_LANGUAGE=='TH'?sub_menu2.menu_name_th:sub_menu2.menu_name_en}}
                      </a>
                      <a href="#/{{sub_menu2.menu_url}}" ng-show="sub_menu2.menu_type != 'EXLINK' && sub_menu2.sub_menu.length == 0">{{DEFAULT_LANGUAGE=='TH'?sub_menu2.menu_name_th:sub_menu2.menu_name_en}}
                      </a>
                      <a href="" tabindex="-1" class="test" ng-show="sub_menu2.menu_type == 'PARENT' && sub_menu2.sub_menu.length > 0">{{DEFAULT_LANGUAGE=='TH'?sub_menu2.menu_name_th:sub_menu2.menu_name_en}}
                      </a>
                      <ul class="dropdown-menu" style="margin-right: 300px;">
                        <li ng-repeat="sub_menu3 in sub_menu2.sub_menu">
                          <a ng-show="sub_menu3.menu_type != 'EXLINK'" href="#/{{ sub_menu3.menu_url }}">
                            {{DEFAULT_LANGUAGE=='TH'?sub_menu3.menu_name_th:sub_menu3.menu_name_en}}
                          </a>
                          <a ng-show="sub_menu3.menu_type == 'EXLINK'" href="{{ sub_menu3.menu_url }}" target="_blank">
                            {{DEFAULT_LANGUAGE=='TH'?sub_menu3.menu_name_th:sub_menu3.menu_name_en}}
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>

            </ul>

          </li>
          <!--
          <li ng-class="{'active':menu_selected == 'home'}"><a href="#/"  style="border-left: 0px solid #000000;">
            <img src="../files/img/home-ico.png" class="menu-icon"><br><br>หน้าหลัก</a></li>
          <li class="menu-item dropdown" ng-class="{'active':menu_selected == ''}">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ><img src="../files/img/alert-ico.png" class="menu-icon"><br><br>เกี่ยวกับหน่วยงาน <b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li class="menu-item dropdown dropdown-submenu" ng-click="goPage('history')">ประวัติความเป็นมา</li>
                  <li class="menu-item dropdown dropdown-submenu" ng-click="goPage('authority')">อำนาจหน้าที่</li>
                  <li class="menu-item dropdown dropdown-submenu" ng-click="goLink('structure')">โครงสร้างหน่วยงาน</li>
                  <li class="menu-item dropdown dropdown-submenu" ng-click="goTo('palace-minister')">ทำเนียบรัฐมนตรี</li>
                  <li class="menu-item dropdown dropdown-submenu" ng-click="goTo('palace')">บุคลากร</li>
                  
                  
              </ul>
          </li>
          <li ng-class="{'active':menu_selected == 'law'}"><a href="#/law"><img src="../files/img/laptop-ico.png" class="menu-icon"><br><br>งานบริการ</a></li>
          <li ng-class="{'active':menu_selected == 'news'}"><a href="#/news"><img src="../files/img/world-ico.png" class="menu-icon"><br><br>เครือข่ายกระทรวง</a></li>
          <li ng-class="{'active':menu_selected == 'traditions'}"><a ng-click="goPage('tradition')"><img src="../files/img/folder-ico.png" class="menu-icon"><br><br>สื่อและเอกสารเผยแพร่</a></li>
          <li ng-class="{'active':menu_selected == 'resolution'}"><a ng-click="goLink('resolution')"><img src="../files/img/question-ico.png" class="menu-icon"><br><br>คำถามที่พบบ่อย</a></li>
          <li ng-class="{'active':menu_selected == 'relatelink'}"><a href="#/relate-link"><img src="../files/img/checkin-ico.png" class="menu-icon"><br><br>ติดต่อหน่วยงาน</a></li>
          -->
        </ul>
        
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
    
    
</div>
</div>
<style type="text/css">
  .glyphicon-search{
    padding-top: 2px;
    padding-bottom: 7px;
    padding-right: 5px;
  }
</style>

