<div ng-include src="'views/header.html'"></div>
<div class="row form-group" style="padding-top: 10px;">
	  <div class="col-lg-5">
	    <div class="row">
	      <div class="col-lg-10" style="padding: 5px; font-weight: bolder; font-size: 1.3em;">
	        <img src="../files/img/pin-menu.png">
	        บัญชีผู้ใช้

	        <span ng-show="MenuName.sub_menu != null">
	        	<img src="../files/img/pin-menu.png">
				{{MenuName.sub_menu.menu_name_th}}	        	
	        </span>
	      </div>
	    </div>
	  </div>
	  <div class="col-lg-6">

	  </div>
</div>
<hr>
<uib-tabset active="ActiveTab" justified="true">
	<uib-tab index="0" heading="ผู้ดูแลระบบ" ng-click="goAdminTab()">
		<br>
		<div class="row form-group">
			<div class="col col-lg-12">
				<button class="btn btn-primary pull-right" ng-click="goAdminUpdate('')">เพิ่มผู้ดูแลระบบ</button>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-lg-12">
				<div class="table-responsive">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>ชื่อ</th>
								<th>สกุล</th>
								<th>ตำแหน่ง</th>
								<th>หน่วยงาน</th>
								<th>โทรศัพท์</th>
								<th>email</th>
								<th>ประเภท</th>
								<th>จัดการ</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="Admin in Admin">
								<td>{{Admin.name}}</td>
								<td>{{Admin.lastName}}</td>
								<td>{{Admin.position}}</td>
								<td>{{Admin.department}}</td>
								<td>{{Admin.phone}}</td>
								<td>{{Admin.email}}</td>
								<td>{{Admin.adminType=='normal'?'ผู้ดูแลระบบทั่วไป':'ผู้ดูแลระบบสูงสุด'}}</td>
								<td align="center">
									<button class="btn btn-default btn-sm" ng-click="goAdminUpdate(Admin.adminID)">
										<span class="glyphicon glyphicon-edit"></span>
									</button>
									<button class="btn btn-danger btn-sm" ng-click="removeAdmin(Admin.adminID)">
										<span class="glyphicon glyphicon-trash"></span>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
					<ul class="pagination pull-right">
					    <li ng-show="totalPages > 1">
					      <a ng-click="goToPage(0)" aria-label="First">
					        <span aria-hidden="true">First</span>
					      </a>
					    </li>
					    <li ng-show="totalPages > 1">
					      <a ng-click="goToPage(currentPage - 1)" aria-label="Prev">
					        <span aria-hidden="true">Prev.</span>
					      </a>
					    </li>
					    <li ng-repeat="page in [] | range : totalPages:currentPage:limitDisplay | limitTo:5" ng-class="{'active':page == (currentPage)}">
					    	<a ng-click="goToPage(page)">{{page + 1}}</a>
					    </li>
					    <li ng-show="totalPages > 1">
					      <a ng-click="goToPage(currentPage + 1)" aria-label="Next">
					        <span aria-hidden="true">Next</span>
					      </a>
					    </li>
					    <li ng-show="totalPages > 1">
					      <a ng-click="goToPage(totalPages - 1)" aria-label="Last">
					        <span aria-hidden="true">Last</span>
					      </a>
					    </li>
					  </ul>
				</div>
			</div>	
		</div>
	</uib-tab>
	<uib-tab index="1" heading="คณะกรรมการ / อนุกรรมการ" ng-click="goUserTab()">
		<br>
		<div class="row form-group">
			<div class="col col-lg-12">
				<!--<button class="btn btn-primary pull-right" ng-click="goUserUpdate('')">คณะกรรมการ / อนุกรรมการ</button>-->
			</div>
		</div>
		<div class="row form-group">
			<div class="col-lg-12">
				<div class="table-responsive">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>ชื่อ</th>
								<th>สกุล</th>
								<th>ตำแหน่ง</th>
								<th>หน่วยงาน</th>
								<th>โทรศัพท์</th>
								<th>email</th>
								<th>สถานะ</th>
								<th>จัดการ</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="User in User">
								<td>{{User.nameThai}}</td>
								<td>{{User.lastNameThai}}</td>
								<td>{{User.positionThai}}</td>
								<td>{{User.institution}}</td>
								<td>{{User.phone}}</td>
								<td>{{User.email}}</td>
								<td>{{User.actives=='Y'?'ใช้งาน':'ไม่ใช้งาน'}}</td>
								<td align="center">
									<button class="btn btn-default btn-sm" ng-click="goUserUpdate(User.userID)">
										<span class="glyphicon glyphicon-edit"></span>
									</button>
									<button class="btn btn-danger btn-sm" ng-click="removeUser(User.userID)">
										<span class="glyphicon glyphicon-trash"></span>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
					<ul class="pagination pull-right">
					    <li ng-show="totalPages > 1">
					      <a ng-click="goToPage(0)" aria-label="First">
					        <span aria-hidden="true">First</span>
					      </a>
					    </li>
					    <li ng-show="totalPages > 1">
					      <a ng-click="goToPage(currentPage - 1)" aria-label="Prev">
					        <span aria-hidden="true">Prev.</span>
					      </a>
					    </li>
					    <li ng-repeat="page in [] | range : totalPages:currentPage:limitDisplay | limitTo:5" ng-class="{'active':page == (currentPage)}">
					    	<a ng-click="goToPage(page)">{{page + 1}}</a>
					    </li>
					    <li ng-show="totalPages > 1">
					      <a ng-click="goToPage(currentPage + 1)" aria-label="Next">
					        <span aria-hidden="true">Next</span>
					      </a>
					    </li>
					    <li ng-show="totalPages > 1">
					      <a ng-click="goToPage(totalPages - 1)" aria-label="Last">
					        <span aria-hidden="true">Last</span>
					      </a>
					    </li>
					  </ul>
				</div>
			</div>	
		</div>
	</uib-tab>
</uib-tabset>